@charset "UTF-8";
.header {
  height: 32px;
  background: #F5F5F5; }

header {
  width: 960px;
  height: 32px;
  margin: 0 auto;
  height: 32px;
  line-height: 32px; }

.user_headerLeft {
  float: left; }
  .user_headerLeft a,
  .user_headerLeft div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; }
  .user_headerLeft a {
    background-color: #fff;
    font-weight: bolder;
    color: #333; }
  .user_headerLeft .photo {
    position: relative; }
    .user_headerLeft .photo i {
      display: inline-block;
      width: 12px;
      height: 11px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/te_ico_png.png") no-repeat;
      vertical-align: middle;
      margin-bottom: 3px; }
    .user_headerLeft .photo:hover {
      font-weight: bold; }
    .user_headerLeft .photo:hover i {
      background-position: -35px 0; }
    .user_headerLeft .photo:hover .app_icon {
      display: block; }
    .user_headerLeft .photo .app_icon {
      display: none;
      z-index: 99;
      position: absolute;
      left: -40px;
      top: 30px;
      padding: 10px;
      line-height: 20px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #cdcdcd;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
      .user_headerLeft .photo .app_icon .icon_arw {
        position: absolute;
        left: 60px;
        top: -6px;
        width: 9px;
        height: 6px;
        background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/te_ico_png.png") no-repeat -106px -31px; }

.user_headerRight {
  float: right; }
  .user_headerRight li {
    display: inline-block; }
  .user_headerRight .service {
    position: relative; }
    .user_headerRight .service .moreContent {
      z-index: 99;
      display: none;
      position: absolute;
      top: 32px;
      left: 0;
      line-height: 28px;
      background-color: #fff;
      border: 1px solid #cbcaca;
      border-top: none;
      padding-bottom: 8px; }
    .user_headerRight .service:hover .moreContent {
      display: block; }
    .user_headerRight .service:hover > span {
      border: 1px solid #cbcaca;
      border-bottom: none;
      background-color: #fff; }
      .user_headerRight .service:hover > span .iconfont {
        color: #1d94d1;
        transform: rotate(0deg); }
  .user_headerRight .service > span {
    display: block;
    padding-right: 8px;
    border: 1px solid transparent;
    border-bottom: none; }
    .user_headerRight .service > span a {
      width: 75px; }
      .user_headerRight .service > span a .iconfont {
        right: 20px;
        margin-left: 12px;
        font-size: 8px;
        font-weight: 800;
        transform: rotate(-180deg);
        transition: all .3s ease; }
  .user_headerRight a {
    display: block;
    color: #666;
    margin-left: 10px; }
    .user_headerRight a:hover {
      color: #1d94d1; }

/*顶部logo*/
.logo {
  width: 960px;
  height: 100px;
  margin: 0 auto; }

.logoLeft {
  z-index: 99;
  float: left; }
  .logoLeft .logo_img {
    position: relative;
    margin-top: 20px;
    width: 267px;
    height: 71px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/logo_user.png") no-repeat; }
  .logoLeft dl {
    position: absolute;
    top: 0;
    left: 120px;
    width: 100px;
    line-height: 28px;
    border: 1px solid transparent; }
    .logoLeft dl:hover {
      background-color: #fff;
      border: 1px solid #dfdfdf; }
    .logoLeft dl:hover dd {
      display: block; }
    .logoLeft dl:hover .iconfont {
      transform: rotate(0deg); }
  .logoLeft dt {
    font-weight: bold;
    color: #333;
    padding: 0 10px; }
  .logoLeft dd {
    display: none;
    padding: 0 10px; }
    .logoLeft dd a {
      color: #333; }
    .logoLeft dd a:hover {
      color: #f10180; }
  .logoLeft .iconfont {
    display: inline-block;
    font-size: 8px;
    margin-left: 6px;
    transform: rotate(-180deg);
    transition: all 0.3s ease 0s; }

.logoRight {
  float: right;
  position: relative;
  width: 600px;
  height: 100px;
  background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/header-icon.png") no-repeat top left; }
  .logoRight .shopingBag {
    position: absolute;
    top: 32px;
    right: 45px; }
    .logoRight .shopingBag a {
      display: block;
      width: 65px;
      height: 18px;
      color: #666;
      height: 18px;
      line-height: 18px; }
      .logoRight .shopingBag a:hover {
        color: #1d94d1; }

.nav {
  clear: both;
  width: 100%;
  height: 32px;
  background-color: #f10180; }
  .nav .navInner {
    width: 960px;
    height: 40px;
    line-height: 32px;
    margin: 0 auto; }
    .nav .navInner li {
      float: left;
      text-align: center;
      width: 110px;
      height: 32px;
      margin-right: 10px; }
      .nav .navInner li a {
        font-size: 14px;
        color: #fff; }
      .nav .navInner li:hover {
        background-color: #DB0A76; }
    .nav .navInner .myvip {
      width: 131px;
      height: 39px;
      font-size: 16px;
      margin-right: 28px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/myvip-bg.png") no-repeat; }
      .nav .navInner .myvip:hover {
        background-color: transparent; }
    .nav .navInner .to_index {
      float: right; }

.user_box {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 500px;
  background-color: #F5F6F8;
 /* background-image: url("../images/layout-bg.png");*/
  background-repeat: no-repeat;
  background-position: top center; }

.user_container {
  width: 960px;
  margin: 0 auto; }
  .user_container aside {
    float: left;
    width: 108px;
    margin-right: 20px;
    padding: 20px 10px 10px 10px;
    border: 1px solid #e4e4e4;
    background-color: #fff; }
    .user_container aside .line {
      width: 100%;
      height: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: 1px dotted #ddd; }
    .user_container aside dt {
      font-size: 14px;
      font-weight: bolder;
      margin-bottom: 15px;
      height: 16px;
      line-height: 16px;
      cursor: pointer; }
      .user_container aside dt i {
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 8px;
        background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/s-comm.png") no-repeat;
        background-position: -387px -46px; }
      .user_container aside dt .hide {
        background-position: -387px -30px; }
    .user_container aside dd {
      padding-left: 25px;
      margin-bottom: 10px; }
      .user_container aside dd a {
        color: #666; }
        .user_container aside dd a:hover {
          color: #f10180; }
  .user_container section {
    float: left;
    width: 800px; }
    .user_container section .add-announcement {
      color: #2a2a2a;
      padding: 5px 15px;
      background-color: #dff0f8;
      border: 1px solid #b4e0f4; }
      .user_container section .add-announcement .iconfont {
        color: #249fdf;
        margin-right: 10px;
        font-size: 14px; }
    .user_container section .my_message {
      margin-top: 15px;
      border: 1px solid #ececec;
      border-bottom: none; }
      .user_container section .my_message .message {
        background-color: #fff;
        padding: 24px 25px 20px 25px; }
      .user_container section .my_message table {
        padding: 10px 25px;
        background-color: #F5F8F9;
        line-height: 42px; }
        .user_container section .my_message table .first td {
          border-bottom: 1px dotted #ddd; }
        .user_container section .my_message table a {
          color: #666; }
          .user_container section .my_message table a:hover {
            color: #1d94d1; }
    .user_container section .message_top {
      height: 80px;
      padding-bottom: 40px; }
      .user_container section .message_top .user_avater {
        position: relative;
        width: 92px;
        height: 92px;
        overflow: hidden;
        float: left;
        border: 4px solid #fff;
        border-radius: 50%;
        box-shadow: 2px 2px 2px #d8d7d7; }
        .user_container section .message_top .user_avater img {
          width: 92px;
          height: 92px; }
        .user_container section .message_top .user_avater span {
          position: absolute;
          bottom: -20px;
          right: 0;
          width: 100%;
          text-align: center;
          height: 20px;
          line-height: 20px;
          color: #fff;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.7);
          transition: all .2s ease; }
        .user_container section .message_top .user_avater:hover span {
          bottom: 0; }
      .user_container section .message_top .user_info {
        float: left;
        width: 375px;
        padding-left: 20px;
        padding-top: 6px;
        line-height: 30px;
        border-right: 1px solid #ebebeb; }
        .user_container section .message_top .user_info h2 {
          font: 700 18px/24px 'Microsoft Yahei', Arial; }
          .user_container section .message_top .user_info h2 i {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/i-level-small.png") no-repeat 4px 2px;
            margin-left: 5px;
            margin-right: 5px; }
          .user_container section .message_top .user_info h2 span {
            font-weight: normal;
            color: #666;
            font-size: 13px; }
        .user_container section .message_top .user_info p {
          font-size: 13px; }
          .user_container section .message_top .user_info p a {
            font-size: 12px;
            color: #666; }
            .user_container section .message_top .user_info p a:hover {
              color: #3cbdff; }
        .user_container section .message_top .user_info .wzd span {
          display: inline-block;
          width: 90px;
          line-height: 12px;
          background-color: #ddd;
          margin-right: 12px; }
          .user_container section .message_top .user_info .wzd span i {
            display: inline-block;
            font-size: 10px;
            font-style: normal;
            width: 35px;
            height: 12px;
            line-height: 12px;
            padding: 2px 5px;
            text-align: center;
            color: #fff;
            background-color: #f09412; }
      .user_container section .message_top .user_msg {
        float: left;
        width: 220px;
        line-height: 28px;
        border-bottom: 1px solid #ebebeb;
        margin-left: 30px; }
    .user_container section .section_bottom {
      width: 100%;
      height: 5px;
      background-image: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/bottom.png");
      background-repeat: repeat-x;
      background-position: bottom left; }
  .user_container::after {
    content: "";
    display: block;
    clear: both; }
  .user_container .my_order {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ececec;
    margin-top: 20px; }
    .user_container .my_order .order_title {
      width: 100%;
      height: 46px;
      background-color: #f9f9f9;
      border-bottom: 1px solid #ececec; }
      .user_container .my_order .order_title li {
        float: left;
        padding: 0 15px;
        font-size: 14px;
        line-height: 46px;
        margin-left: 20px; }
        .user_container .my_order .order_title li a {
          color: #999; }
        .user_container .my_order .order_title li a:hover {
          color: #1d94d1; }
      .user_container .my_order .order_title li:first-child a {
        color: #333;
        font-weight: bold; }
      .user_container .my_order .order_title .line {
        border-bottom: 2px solid #f10180; }
    .user_container .my_order .order_content {
      position: relative;
      width: 100%;
      text-align: center;
      min-height: 240px; }
      .user_container .my_order .order_content li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        line-height: 30px;
        padding: 15px 0;
        display: none; }
      .user_container .my_order .order_content .show {
        display: block; }
      .user_container .my_order .order_content .order_bj {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/user_bj.png") no-repeat -179px -70px; }

.order_guide {
  font-size: 12px;
  color: #333;
  border-left: 2px solid #f10180;
  padding-left: 12px;
  line-height: 12px;
  margin-bottom: 8px; }

.order_safety {
  position: relative;
  width: 700px;
  background-color: #fff;
  padding: 15px 50px;
  line-height: 20px;
  margin-bottom: 10px;
  border: 1px solid #ececec; }
  .order_safety .icon {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 21px;
    height: 21px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprite (1).png") no-repeat -58px -212px; }
  .order_safety p {
    font-weight: bold; }
  .order_safety .safety_msg {
    width: 100%;
    border-top: 1px dotted #ececec;
    margin-top: 14px;
    padding-top: 15px; }
    .order_safety .safety_msg a {
      color: #999; }
      .order_safety .safety_msg a:hover {
        text-decoration: underline; }

.order_list {
  width: 100%; }
  .order_list .order_option {
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #ccc; }
  .order_list ul {
    width: 100%;
    height: 39px; }
    .order_list ul::after {
      content: "";
      display: block;
      clear: both; }
  .order_list li {
    float: left;
    min-width: 44px;
    margin: 6px 0;
    padding: 10px 0; }
  .order_list a {
    display: block;
    font-size: 14px;
    color: #666;
    height: 12px;
    padding: 0 20px;
    line-height: 12px;
    border-right: 1px solid #ccc; }
    .order_list a:hover {
      font-weight: bold; }
  .order_list .show {
    border-bottom: 2px solid #f10180; }
    .order_list .show a {
      font-weight: bold; }

.order_list_content {
  margin-top: 20px; }

.table_title {
  margin-bottom: 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ededed; }

.table_content {
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  margin-bottom: 15px; }
  .table_content th {
    text-align: left;
    height: 40px;
    vertical-align: middle;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb; }
  .table_content th p {
    display: inline-block;
    font-weight: normal; }
  .table_content .order_code {
    width: 250px;
    padding-left: 25px; }
    .table_content .order_code i {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      vertical-align: bottom;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprite (1).png") no-repeat -283px -126px; }
    .table_content .order_code span {
      color: #3487cb; }
  .table_content .order_name {
    width: 130px; }
  .table_content .order_time {
    width: 200px; }
  .table_content td {
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb; }
    .table_content td span {
      color: #999; }
    .table_content td b {

      font-size: 14px;
      color: #f10180; }
  .table_content .order_detail {
    text-align: left;
    width: 350px;
    padding: 15px 25px; }
    .table_content .order_detail img {
      width: 64px;
      height: 78px;
      float: left;
      margin-right: 20px; }
    .table_content .order_detail p {
      line-height: 24px;
      color: #333;
      margin-top: 18px;
      height: 24px;
      max-width: 320px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .table_content a {
    font-size: 12px;
    color: #3487cb;
    border: none;
    text-align: center; }
    .table_content a:hover {
      text-decoration: underline;
      font-weight: normal; }

.loginBox {
  width: 1000px;
  margin: 40px auto; }
  .loginBox .top {
    width: 100%;
    height: 117px; }
    .loginBox .top .to_index {
      display: block;
      float: left;
      width: 315px;
      height: 73px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/normalLogin_sprite.png") no-repeat 0 0; }
    .loginBox .top .banner_right {
      float: right;
      width: 445px;
      height: 28px;
      margin-top: 20px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprite.png") no-repeat -316px 0; }
  .loginBox .loginBody {
    width: 1000px;
    height: 600px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/14906736174487.jpg"); }
    .loginBox .loginBody .loginForm {
      position: relative;
      float: right;
      width: 344px;
      margin: 40px 30px 0 0; }
      .loginBox .loginBody .loginForm p {
        font-size: 14px;
        color: #4c4c4c; }
      .loginBox .loginBody .loginForm .to_login {
        position: absolute;
        right: 74px;
        top: 0;
        color: #f10180; }
        .loginBox .loginBody .loginForm .to_login:hover {
          text-decoration: underline; }
      .loginBox .loginBody .loginForm label {
        display: block;
        margin: 25px 0;
        position: relative; }
        .loginBox .loginBody .loginForm label span {
          display: none;
          position: absolute;
          top: -35px;
          left: 0;
          min-width: 30px;
          padding: 4px 20px 4px 20px;
          line-height: 20px;
          background-color: #fffbf3;
          border: 1px solid #f8dcb0; }
      .loginBox .loginBody .loginForm input {
        font: 14px/20px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', sans-serif;
        color: #333;
        width: 248px;
        height: 18px;
        line-height: 18px;
        outline: none;
        padding: 6px 10px;
        background-color: #fff;
        border: 1px solid #b2b2b2;
        border-radius: 3px; }
      .loginBox .loginBody .loginForm .button {
        display: inline-block;
        margin-left: 8px;
        width: 93px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding: 0 12px;
        border-radius: 3px; }
      .loginBox .loginBody .loginForm .able {
        color: #e00078;
        background-color: #fcedf2;
        border: 1px solid #ffbee0;
        transition: all .3s ease; }
        .loginBox .loginBody .loginForm .able:hover {
          background-color: #fbf5f7; }
      .loginBox .loginBody .loginForm .disable {
        color: #999;
        background-color: #d0d0d0;
        border: 1px solid #d0d0d0;
        transition: all .3s ease;
        cursor: not-allowed; }
        .loginBox .loginBody .loginForm .disable:hover {
          background-color: #d0d0d0; }
      .loginBox .loginBody .loginForm input[name=code] {
        width: 118px; }
      .loginBox .loginBody .loginForm input[type=checkbox] {
        width: 16px;
        height: 16px;
        margin-right: 8px; }
      .loginBox .loginBody .loginForm .readme {
        display: inline-block;
        color: #666; }
      .loginBox .loginBody .loginForm .logNow {
        display: inline-block;
        font-family: "\5FAE\8F6F\96C5\9ED1", Arial, tahoma, sans-serif;
        font-size: 16px;
        width: 140px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        background-color: #f10180;
        border: 1px solid #f10180;
        transition: all .2s ease; }
        .loginBox .loginBody .loginForm .logNow:hover {
          background-color: #f43499;
          border-color: #f43499; }
      .loginBox .loginBody .loginForm .to_email {
        display: inline-block;
        color: #1d94d1;
        margin-left: 40px;
        vertical-align: bottom;
        height: 44px;
        line-height: 80px; }
      .loginBox .loginBody .loginForm .forget_pass {
        margin-left: 70px;
        color: #333; }
        .loginBox .loginBody .loginForm .forget_pass:hover {
          color: #f10180; }
      .loginBox .loginBody .loginForm .free_reg {
        color: #f10180; }
    .loginBox .loginBody .others_login p {
      font-size: 12px;
      color: #666;
      margin-bottom: 5px; }
    .loginBox .loginBody .others_login .login_icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-image: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprite.png");
      background-repeat: no-repeat; }
    .loginBox .loginBody .others_login .sina {
      background-position: -291px -57px; }
      .loginBox .loginBody .others_login .sina:hover {
        background-position: -263px -57px; }
    .loginBox .loginBody .others_login .qq {
      background-position: -235px -57px; }
      .loginBox .loginBody .others_login .qq:hover {
        background-position: -347px -57px; }
    .loginBox .loginBody .others_login .alipay {
      background-position: -179px -57px; }
      .loginBox .loginBody .others_login .alipay:hover {
        background-position: -151px -57px; }
    .loginBox .loginBody .others_login .weixin {
      background-position: -207px -57px; }
      .loginBox .loginBody .others_login .weixin:hover {
        background-position: -319px -57px; }
    .loginBox .loginBody .others_login .more {
      display: inline-block;
      font-size: 12px;
      line-height: 24px;
      color: #666;
      vertical-align: top; }
      .loginBox .loginBody .others_login .more .iconfont {
        display: inline-block;
        font-size: 8px;
        margin-left: 4px; }
      .loginBox .loginBody .others_login .more:hover {
        color: #f10180; }
    .loginBox .loginBody .others_login .others {
      transform: rotateX(-90deg);
      padding-top: 20px;
      margin-left: -15px;
      transition: transform .35s ease;
      transform-origin: center top; }
      .loginBox .loginBody .others_login .others a {
        display: inline-block;
        width: 66px;
        text-align: center;
        color: #666;
        line-height: 28px; }
        .loginBox .loginBody .others_login .others a:hover {
          color: #f10180; }

footer {
  margin-bottom: 30px; }
  footer p {
    color: #767074;
    width: 100%;
    text-align: center; }

.icon-wenhao {
  color: #2689f8;
  font-weight: bold; }

.cart_logo {
  width: 100%;
  height: 78px;
  border-bottom: 2px solid #f3168a; }
  .cart_logo .cart_inner {
    width: 960px;
    margin: 0 auto; }
  .cart_logo .cart_left {
    float: left;
    margin-top: 15px; }
    .cart_logo .cart_left a {
      display: block;
      width: 121px;
      height: 50px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/logo.jpg") no-repeat -462px -145px; }
  .cart_logo .cart_right {
    float: right; }
    .cart_logo .cart_right ul {
      margin-top: 15px;
      height: 12px; }
      .cart_logo .cart_right ul::after {
        content: "";
        display: block;
        clear: both; }
    .cart_logo .cart_right li {
      float: left;
      position: relative;
      padding-left: 16px;
      color: gray; }
      .cart_logo .cart_right li .iconfont {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px; }
      .cart_logo .cart_right li .icon-dianhua {
        transform: rotate(90deg); }
      .cart_logo .cart_right li a {
        color: gray; }
        .cart_logo .cart_right li a:hover {
          color: #000; }
    .cart_logo .cart_right .line {
      padding: 0;
      margin-left: 10px;
      margin-right: 10px; }
    .cart_logo .cart_right .user_service {
      position: relative;
      width: 95px;
      height: 12px; }
      .cart_logo .cart_right .user_service dl {
        position: absolute;
        top: -9px;
        left: -15px;
        padding: 10px 40px 10px 20px;
        text-align: right;
        width: 65px;
        background-color: transparent;
        box-shadow: none; }
      .cart_logo .cart_right .user_service dl:hover {
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.18); }
      .cart_logo .cart_right .user_service dl:hover dt {
        color: #000; }
      .cart_logo .cart_right .user_service dl:hover .icon-shangjiantou {
        transform: rotate(180deg); }
      .cart_logo .cart_right .user_service dl:hover dd {
        display: block; }
      .cart_logo .cart_right .user_service dt {
        padding-left: 16px; }
        .cart_logo .cart_right .user_service dt .icon-huiyuan {
          top: 9px;
          left: 16px; }
        .cart_logo .cart_right .user_service dt em {
          position: absolute;
          right: 35px;
          top: 9px; }
      .cart_logo .cart_right .user_service dd {
        display: none;
        line-height: 24px; }
    .cart_logo .cart_right span {
      display: inline-block; }
      .cart_logo .cart_right span .iconfont {
        font-weight: bold;
        color: #f66a96;
        vertical-align: middle;
        margin-right: 18px;
        margin-left: 18px; }
      .cart_logo .cart_right span .icon-tuihuoshouhou {
        font-size: 18px; }

.cart_countdowm {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 30px;
  color: #666;
  position: relative; }
  .cart_countdowm .icon {
    display: inline-block;
    width: 65px;
    height: 20px;
    vertical-align: middle;
    border-right: 1px solid #999;
    padding-right: 15px;
    margin-right: 15px;
    margin-bottom: 3px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprites-hash-83c131c3.png") no-repeat -279px 0; }
  .cart_countdowm span {
    color: #f10180; }
  .cart_countdowm em {
    font-style: normal; }
  .cart_countdowm .cart_text {
    opacity: 0;
    position: absolute;
    top: 30px;
    right: 160px;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    width: 420px;
    background-color: #fff;
    border: 1px solid #dbdada;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }

.cart_box {
  margin-top: 20px; }

.cart_header {
  width: 958px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #e0e0e0;
  border-left: 2px solid #f10180;
  background-color: #f9f9f9; }
  .cart_header span:nth-of-type(1) {
    color: 	#C0C0C0;
    font-size: 16px;
    padding-left: 25px;
    margin-right: 400px; }
  .cart_header span:nth-of-type(2) {
    margin-right: 100px; }
  .cart_header span:nth-of-type(3) {
    margin-right: 100px; }
  .cart_header span:nth-of-type(4) {
    margin-right: 100px; }

.cart_content {
  border: 1px solid #e0e0e0;
  border-top: none;
  padding: 25px 20px; }
  .cart_content table {
    background-color: #FFFAF5; }
  .cart_content tr:nth-of-type(1) {
    color: #666;
    height: 40px;
    line-height: 40px;
    background-color: #FFEFDD; }
    .cart_content tr:nth-of-type(1) i {
      font-style: normal;
      color: #fff;
      margin: 10px;
      padding: 4px 5px;
      margin-left: 20px;
      background-color: #FF9933;
      border-radius: 3px; }
  .cart_content .cart_img {
    width: 68px; }
  .cart_content .cart_title {
    width: 240px;
    padding-right: 145px; }
    .cart_content .cart_title a {
      color: #333; }
      .cart_content .cart_title a:hover {
        color: #f10180; }
  .cart_content .cart_number {
    width: 120px;
    text-align: center; }
    .cart_content .cart_number input {
      float: left;
      width: 28px;
      height: 22px;
      text-align: center;
      border-top: 1px solid #E3E2E2;
      border-bottom: 1px solid #E3E2E2;
      border-left: none;
      border-right: none; }
    .cart_content .cart_number button {
      float: left;
      width: 24px;
      height: 24px;
      color: #AAAAAA;
      font-weight: bold;
      font-size: 14px;
      border: 1px solid #E3E2E2;
      outline: none;
      background-color: transparent;
      cursor: pointer; }
    .cart_content .cart_number .not_allowed {
      cursor: not-allowed; }
  .cart_content .cart_price {
    width: 100px;
    font-weight: bold; }
    .cart_content .cart_price del {
      color: #666;
      font-weight: normal; }
  .cart_content .cart_sum {
    text-align: center;
    width: 120px; }
    .cart_content .cart_sum span {
      color: #f10180;
      font-weight: bold; }
    .cart_content .cart_sum p {
      color: #f90;
      display: inline-block;
      border-radius: 3px;
      border: 1px solid #f90;
      height: 20px;
      line-height: 20px;
      padding: 0 5px; }
      .cart_content .cart_sum p em {
        font-style: normal; }
  .cart_content .cart_delate {
    text-align: center; }
    .cart_content .cart_delate button {
      width: 32px;
      height: 22px;
      overflow: visible;
      background: none;
      border: none;
      outline: none; }
    .cart_content .cart_delate .but_icon_top {
      display: block;
      margin-bottom: 2px;
      width: 12px;
      height: 2px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprites-hash-83c131c3.png") no-repeat;
      background-position: -323px -68px;
      transition: transform .25s;
      transform-origin: -7% 100%; }
    .cart_content .cart_delate .but_icon_bottom {
      display: block;
      width: 12px;
      height: 11px;
      background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprites-hash-83c131c3.png") no-repeat;
      background-position: -307px -62px; }
    .cart_content .cart_delate button:hover .but_icon_top {
      background-position: -323px -62px;
      transform: rotate(-30deg); }
    .cart_content .cart_delate button:hover .but_icon_bottom {
      background-position: -317px -44px; }
  .cart_content img {
    width: 54px;
    height: 78px;
    margin: 15px; }

.cart_step {
  font-size: 14px;
  color: #666;
  width: 610px;
  margin: 30px auto; }
  .cart_step::after {
    content: "";
    display: block;
    clear: both; }
  .cart_step div {
    float: left;
    text-align: center; }
  .cart_step .one,
  .cart_step .two,
  .cart_step .three {
    width: 100px;
    height: 50px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprites-hash-a80f872a.png") no-repeat; }
  .cart_step .step {
    width: 152px;
    height: 50px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprites-hash-a80f872a.png") no-repeat; }
  .cart_step .finished {
    background-position: -306px -199px; }
  .cart_step .unfinished {
    background-position: 0 -290px; }
  .cart_step .step_1 {
    width: 100px; }
    .cart_step .step_1 a {
      color: #000; }
    .cart_step .step_1 .one {
      background-position: -468px -290px; }
  .cart_step .step_2 {
    width: 100px; }
    .cart_step .step_2 .two {
      background-position: -462px -199px; }
  .cart_step .step_3 {
    width: 100px; }
    .cart_step .step_3 .three {
      background-position: -364px -290px; }

.cart_footer {
  height: 40px;
  line-height: 40px;
  color: #666;
  border: 1px solid #e0e0e0;
  border-top: none;
  margin-bottom: 20px;
  padding-left: 20px; }
  .cart_footer span {
    font-style: normal;
    color: #fff;
    margin: 10px;
    padding: 4px 5px;
    margin-left: 20px;
    background-color: #FF9933;
    border-radius: 3px; }

.accounts_money {
  min-height: 80px;
  border: 1px solid #ECEBEB;
  padding: 10px;
  border-bottom: none; }
  .accounts_money li {
    text-align: right;
    line-height: 24px; }
    .accounts_money li p {
      display: inline-block;
      color: #666; }
      .accounts_money li p span {
        color: #f10180;
        margin-right: 3px; }
    .accounts_money li .money_sum {
      display: inline-block;
      margin-right: 25px;
      width: 100px;
      color: #000; }
      .accounts_money li .money_sum i {
        font-style: normal;
        margin-left: 5px; }
    .accounts_money li .money_total {
      font-size: 14px;
      color: #f10180; }

.accounts_time {
  text-align: right;
  height: 40px;
  line-height: 40px;
  background-color: #F3F3F3;
  border: 1px solid #E2E1E1; }
  .accounts_time p {
    display: inline-block;
    color: #666;
    font-size: 14px; }
  .accounts_time .iconfont {
    margin-left: 8px;
    margin-right: 8px; }
  .accounts_time a {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    text-align: center;
    height: 42px;
    color: #fff;
    background-color: #f10180;
    margin-left: 25px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px; }
    .accounts_time a span {
      padding-left: 10px;
      font-size: 13px; }
    .accounts_time a em {
      font-style: normal; }

.accounts_time_fixed {
  position: fixed;
  display: block;
  width: 958px;
  bottom: 0; }

.promises {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px; }
  .promises .promises_item {
    width: 302px;
    height: 141px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background: url("../../../../../../../../Desktop/FarligntShop/FarligntShop/dist/images/sprites-hash-a80f872a.png") no-repeat; }
  .promises .promises_assure_item {
    background-position: 0 -145px; }
  .promises .return {
    background-position: 0 0; }
  .promises .promises_charge_item {
    background-position: -306px 0; }

/*# sourceMappingURL=user.css.map */
